.kutu1{
    margin-top: 20px;
    text-align: center;
    background-color: rgb(216, 219, 221);
}
.kutu2{

    height: 100px;
    width: 39%;
    background-color: rgb(71, 237, 240);
    float: left;
    margin-right: 5px;
    text-align: center;
}
.kutu3{
    height: 100px;
    width: 20%;
    background-color: rgb(57, 200, 202);
    float: left;
    margin-right: 5px;
    text-align: center;
}
.kutu4{

    height: 100px;
    width: 40%;
    background-color: rgb(63, 178, 180);
    float: left;
    text-align: center;
}
.kutu4.p{
    margin-bottom: 0;
}
